<tr>
	<td><%= pin.description %></td>
	<td><%= link_to 'Show', pin %></td>


	<% if current_user == pin.user # only show this to pin owner %> 
		<td><%= link_to 'Edit', edit_pin_path(pin) %></td>
		<td><%= link_to 'Destroy', pin, method: :key => "value", delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>	

</tr>