<div class="hero-unit">
	<h1>Welcome to OMR</h1>
	<p>
		Visit me at <%= link_to "My Spot", "http://patrickwoods.com" %>
	</p>

	<p><%= link_to "Signup Now", "#", class: "btn btn-primary btn-large" %></p>
</div>